@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.no-spinner {
  -moz-appearance: textfield;
}

.shadow-top-bottom {
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1),
    0 -2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

:focus {
  outline: none;
}

.sidebar-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sidebar-scrollbar::-webkit-scrollbar {
  display: none;
}

.group\/sidebar:hover .sidebar-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent;
}

.group\/sidebar:hover .sidebar-scrollbar::-webkit-scrollbar {
  display: block;
  width: 6px;
}

.sidebar-transition {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

@media (max-width: 1280px) {
  .sidebar {
    transform: translateX(-100%);
  }
  .sidebar.pinned {
    transform: translateX(0);
  }
}

.sidebar-hidden {
  display: none;
}
@media (min-width: 768px) {
  .sidebar-hidden {
    display: flex;
  }
}
